.navbar {
    display: flex;
    background-color: darkorange;
    height: 60px;
    justify-content: space-around;
    flex-direction: row;
}

.logo img{
    height: 10%;
    width: 10%;
}

.botones {
    display: flex;
    justify-content: center;
}
