.navbar {
    display: flex;
    background-color: deepskyblue;
    height: 60px;
    justify-content: space-around;
    flex-flow: row;
}


.logo {
    height: 10%;
    width: 10%;
}

.botones {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
    box-shadow: 0px 10px 14px -7px #91b8b3;
	background-color:#768d87;
	border-radius:8px;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:10px;
	font-weight:bold;
	padding:9px 26px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2b665e;
}

.cartWdg {
    justify-content: flex-end;
    align-items: center;
}

