.navbar {
    display: flex;
    background-color: darkorange;
    height: 60px;
    justify-content: space-around;
    flex-direction: row;
}

.logo{
    width: 33%;
}

.botones {
    width: 33%;
    display: flex;
    justify-content: center;
}

.cartWdg {
    width: 33%;
}
