.counter {
    width: 150px;
    margin-left: 60px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.number {
    width: 50px;
    border: 0;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
    background: sandybrown;
    color: #fff;
    appearance: none;
    outline: 0;
}
.counter span {
    display: block;
    font-size: 25px;
    padding: 0 10px;
    cursor: pointer;
    color: #0052cc;
    user-select: none;   
}

.Button {
    text-decoration: none;
    border-radius: 25;
    margin: 0 30px;
    width: auto;
    padding: 12px;
    font-size: 8px;
    background: sandybrown;
    border-radius: 8px;
    display: flex;
    align-self: center;
    flex-grow: 0;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: #FFFFFF;
    border: none;
    border-style: none;
    cursor: pointer;
    outline: inherit;
    font-size: larger;
}

.footer {
    margin-top: 80px;
}